/* google font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

select,input,textarea{
    border: 1px solid c2c2c2;
    outline-color: #f65fab;
    border-radius: 4px;
}

*{
    font-family: outfit;
}

.active{
    background-color: #f65fab;
    border-color: #f18cbf;
}